<h1>Hello Admin!</h1>
</br>
<h2>Here is some specific information about the user</h2>


<ul>
    <li> User Id: {{UserId}} </li>
    <li> Username {{Username}} </li></br>
    <li> First Name: {{FirstName}} </li>
    <li> Last Name: {{LastName}} </li>
    <li> Email: {{Email}} </li>
    <li> Password: {{Password}} </li>
    <li> Admin: {{Admin}} </li></br>
    <li> Date Created: {{createdAt}} </li>
    <li> Last Updated: {{updatedAt}} </li>
</ul>

<form method="POST" action="{{UserId}}" >
<button type="submit">Delete User / Make Inactive</button>
</form>




